name: Auto-approve Renovate PRs
on: 
  pull_request_target: 
    types: [opened, reopened, synchronize]

jobs: 
  auto-approve:
    runs-on: ubuntu-latest
    if: github.actor == 'renovate[bot]'
    permissions:
      pull-requests: write
    steps: 
      - name: Auto approve
        uses: hmarr/auto-approve-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
